@use "/public/styles/colors";

@use "/public/styles/fonts";

@use "/public/styles/header" with (
  $min-height: 1em,
  $max-height: 1vh,
  $background-color: colors.$lightYellow,
  $reset-background: colors.$lightYellow,
  $reset-color: colors.$very-dark,
  $foreground-color: colors.$very-dark
);

$font-family: fonts.$procrastinate-typeface;
$text-color: colors.$very-dark;

$slate-color: rgb(16, 24, 50);

@mixin transition-all {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.instruction {
    background-color: colors.$lightYellow;
  border: 1px solid $text-color !important;
  font-size: 0.8rem;
  border-radius: 3px;
  text-decoration: none;
  background: none;
  color: $slate-color;
  padding: auto;
  position: relative;
  align-self: center;
  z-index: 1;
  box-shadow: -0.5em 0.5em transparentize($slate-color, 1);
  transform-origin: left bottom;
  @include transition-all;

  &:before,
  &:after {
    background: $slate-color;
    border: 3px $slate-color solid;
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
  }

  // SIDE
  &:before {
    border-image-slice: 1 1 0 1;
    left: -0.59em;
    top: 0.15em;
    width: 0.31em;
    height: calc(100% + 0.1em);
    transform: skewY(-45deg);
  }

  // BOTTOM
  &:after {
    border-image-slice: 1 1 1 0;
    bottom: -0.61em;
    right: 0.16em;
    width: calc(100% + 0.2em);
    height: 0.31em;
    transform: skewX(-45deg);
  }
}

.main {
  background-color: colors.$lightYellow;
  color: $text-color;
  font-family: $font-family;
  min-height: 100vh;
  padding-bottom: 2rem;
  padding-top: 10em;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  p,
  a,
  .p {
    font-size: 1.2rem;
  }

  a {
    color: $text-color !important;
  }

  .choiceContent {
    font-size: 1.2rem;
  }

  section {
    margin-bottom: 2rem;
  }

  .text_center {
    text-align: center;
  }

  .gracePeriodInput {
    font-family: inherit;
    font-size: 1rem;
  }

  ul {
    padding-left: 2rem;
  }
}

.musicContainer {
  background-color: colors.$darkYellow;
  color: colors.$dark;
  border-radius: 0.2rem;
  border: 1.5px solid colors.$dark;
}
