:export {
    hand_connectors: rgb(103, 169, 215);
    joint: rgb(241, 229, 192)
}

.videoSection {
    font-family: inherit;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  
    video {
      display: block;
    }
  
    .videoView {
      p {
        padding-top: 5px;
        padding-bottom: 5px;
        z-index: 2;
        margin: 0;
      }

      button {
        font-family: inherit;
        font-size: 0.8rem;
        letter-spacing: 2px;
        border-radius: 3px;
        width: 150px;
        height: 35px;
        cursor: pointer;
      }
    }
  
    .highlighter {
      background: rgba(0, 255, 0, 0.25);
      border: 1px dashed #fff;
      z-index: 1;
      position: absolute;
    }
    
    .outputCanvas {
      pointer-events: none;
    }
    
    .output {
      display: none;
      width: 100%;
    }

  }
  
  .invisible {
    opacity: 0.2;
  }