@use '../../public/styles/colors';
@use '../../public/styles/fonts';

.instruction {
    p {
        font-family: fonts.$body;
        font-weight: 400;
        font-style: italic;
    }

    .underline {
        text-decoration: underline;
    }
}