@use '../../public/styles/colors';
@use '../../public/styles/fonts';

.instruction {
    --margin: 2rem;
    --padding: 1rem;

    margin: var(--margin) 0;
    padding: var(--padding);

    
    p {
        font-family: fonts.$secondary;
        font-weight: 400;
    }

    .underline {
        text-decoration: underline;
    }

    .crossOut {
        text-decoration: line-through;
    }
}