@use '../../public/styles/colors';
@use '../../public/styles/fonts';

.instruction {
    margin-top: 1rem;
    
    p {
        font-family: inherit;
        font-weight: 400;
        font-style: italic;
    }

    .underline {
        text-decoration: underline;
    }

    .crossOut {
        text-decoration: line-through;
    }
}