@use "/public/styles/fonts";
@use "/public/styles/colors";

.container {
  position: fixed;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  top: 0;

  background: rgba(22, 22, 22, 0.23);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);

  font-family: fonts.$secondary;

  .modal {
    border-radius: 0.3rem;
    width: 100%;

    ul {
      list-style: none;
      margin: 0;
      padding: 0.4rem;

      li {
        font-size: 0.9rem;
        span {
            text-decoration: underline;
        }

        &::before {
          margin-right: 0.5rem;
          content: "";
          display: inline-block;
          width: 15px;
          height: 4px;
          border: 1px solid colors.$dark;
        }
      }
    }
  }
}

.musicWrapper {
  span {
    width: 30px;
    height: 30px;
    margin: 0 0.2rem;
    border-radius: 0.3rem;
    background-color: colors.$white;
    border: 1.5px solid colors.$dark;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .musicHeader {
    display: flex;
    justify-content: space-between;
  }

  .player {
    width: 100%;
    margin: 1rem 0;

    .playlistWrapper {
      .song {
        border-top: 1px solid colors.$dark;
        padding: 0.4rem;
        background-color: transparent;

        h4 {
          font-size: 1rem;
        }

        p {
          font-size: 0.9rem;
          margin-bottom: 0;
        }

        &.current {
          background-color: colors.$very-light;
          transition: 0.3s ease-in;
        }
      }
    }
  }
}
