@use '/public/styles/colors';
@use '/public/styles/fonts';

$text-color: colors.$very-light;

@import '/public/styles/fonts';

.main {
    background-color: transparent;
    color: $text-color;
    font-family: $body;

    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
    }

    a {
        color: $text-color;
    }

    p {
        line-height: 1.5rem;
    }

    .text-black a {
        color: colors.$very-dark;
    }

    .text_center {
        text-align: center;
    }

    button {
        font-family: inherit;
        font-size: 0.8rem;
        letter-spacing: 2px;
        border-radius: 3px;
        width: 150px;
        height: 35px;
        cursor: pointer;
    
        &:hover {
            font-family: fonts.$secondary;
        }

        &.backButton {
            background-color: transparent;
            position: fixed;
            z-index: 3;
            left: 1rem;
            top: 1rem;
            border: 1px solid $text-color;
            color: $text-color
        }
    }

    
}

.header {
    nav {
       padding: 0 125px;
       align-items: center;
       display: flex;
       height: 10em;

       button {
          color: $text-color!important;
       }
    }
 }