@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/** Home page */
$header: "Sofia Sans", sans-serif !default;
$body: "Sofia Sans", sans-serif !default;

/** Pixel */
$secondary: "Pixelify Sans", sans-serif;

/** Procrastinate */
$procrastinate-typeface: "Spectral", serif;
