
$header: "Sofia Sans", sans-serif !default;
$body: "Sofia Sans", sans-serif !default;

$secondary: "Pixelify Sans", sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

// url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

