@use '/public/styles/colors';

$text-color: colors.$very-light;

/**
@use '/public/styles/header' with (
    $background-color: 'transparent',
    $foreground-color: $text-color,
    $max-height: 1vh,
);
*/

@import '/public/styles/fonts';

.main {
    background-color: transparent;
    color: $text-color;
    font-family: $body;

    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
    }

    a {
        color: $text-color!important;
    }

    .text_center {
        text-align: center;
    }
}

.header {
    nav {
       padding: 0 125px;
       align-items: center;
       display: flex;
       height: 10em;

       button {
          color: $text-color!important;
       }
    }
 }